@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#root {
  max-width: 700px;
  margin: 0 auto;
}

.display-window {
  display: flex;
  justify-content: flex-end;
  font-size: 48px;
  align-items: center;
  height: 100px;
  background-color: #858693;
  color: #fff;
  font-weight: 700;
  padding: 0 10px;
}

button {
  border: none;
  font-size: 32px;
  cursor: pointer;
}

.btn-group {
  display: flex;
  height: 100px;
  justify-content: center;
}

.btn-group button:not(:last-child) {
  border-bottom: 1px solid #bababa;
  border-right: 1px solid #d1d1d1;
}

.btn-group button:last-child {
  border-bottom: 1px solid #d2d2d2;
}

.default-btn-color {
  background-color: #f5913e;
}

.grey-btn {
  background-color: #e0e0e0;
}

.double-btn {
  width: 50%;
}

.default-btn {
  width: 25%;
}

.alert {
  background-color: rgba(255, 68, 34, 0.3);
  max-width: 700px; 
  margin: 0 auto;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-size: large;
}
