@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
}

body {
  min-height: 100vh;
}

#root {
  text-align: center;
  padding: 30px 0;
}

.btn-group button:not(:last-child) {
  border-bottom: 1px solid #bababa;
  border-right: 1px solid #d1d1d1;
}

/* .btn-group:last-child button:nth-child(1) {
  flex-grow: 1;
} */

.default-btn-color {
  background-color: #f5913e;
}

.grey-btn {
  background-color: #e0e0e0;
}

.double-btn {
  width: 50%;
}

.default-btn {
  width: 25%;
}
