@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
}

body {
  min-height: 100vh;
}

#root {
  width: 700px;
  border: 3px solid grey;
}

button {
  text-align: center;
  cursor: pointer;
  width: 25%;
  font-size: 32px;
}

.display-window {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  height: 100px;
  font-weight: 700;
  color: #fff;
  font-size: 48px;
  background-color: #858693;
}

/* .btn-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100px;
} */

.btn-group {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
}

.btn-group:last-child button:nth-child(1) {
  flex-grow: 1;
}
